Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’ Add ‘mango to the above list Also add banana, grapes & orange in the list insert apple in the 5th position of a variable ‘a’ Remove last item from the list

In [1]:
a = [2,3,4,5,6,7]
a.append('mango')
b=['banana', 'grapes', 'orange']
a=a+b
a.insert(4,'apple')
a.pop()
a

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes']

Q2.
L = [1,2,3,4,5,6,7]
Using the above list slice from 1:4

In [2]:
L = [1,2,3,4,5,6,7]
# Using the above list slice from 1:4

In [3]:
lis = L[1:4]
lis

[2, 3, 4]

Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [4]:
L = [4,5,6,8,3]

In [5]:
lis = L[::-1]
lis

[3, 8, 6, 5, 4]

Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [6]:
L=[2,4,7,3,6,8]
lis = [i*i for i in L]
lis

[4, 16, 49, 9, 36, 64]

Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the
function with a tuple of your choice.

In [7]:
tup = (1,2,3)
def su (a):
    sum1=0
    for i in a:
        sum1+=i
    return sum1
su(tup)

6

Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set.

In [8]:
a= {'apple', 'mango','banana'}
b= {'orange','banana', 'pine apple'}
a.union(b)

{'apple', 'banana', 'mango', 'orange', 'pine apple'}

Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the
resulting set to the console.

In [9]:
set1= {'r','o','h'}
set1.add('i')
set1

{'h', 'i', 'o', 'r'}

Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the
set. Print the resulting set to the console.

In [10]:
set1= {'r','o','h'}
set1.remove('o')
set1

{'h', 'r'}

Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
Use the zip() function to combine the book set and movie list into a list of tuples representing book/
movie pairs. Print the resulting list.

In [11]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

In [12]:
combined_list = list(zip(favorite_books, favorite_movies))
combined_list

[('1984', 'The Shawshank Redemption'),
 ('To Kill a Mockingbird', 'The Godfather'),
 ('Pride and Prejudice', 'The Dark Knight')]

Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [13]:
lis = [2,4,7,10,32]
def dif (lis):
    diff_list=[]
    for i in range(len(lis)-1):
        diff_list.append(lis[i+1]-lis[i])
    return diff_list
dif(lis)

[2, 3, 3, 22]